<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width", initial-scale="1.0">
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form action="/register" method="post">
        <label for="label_name">Username: </label>
        <input type="text" id="label_name_id" name="form_username" required>
        <br><br>
        <label for="label_password">Password:</label>
        <input type="password" id="password_id" name="form_password" required>
        <br><br>
        <input type="submit" value="Sign Up"> 
    </form>
</body>
</html>