<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laptop Shop</title>
</head>
<body>
    <h1>Laptop Info</h1>
    <ul>
        {% for laptop in laptops %}  
        <li>
          <strong>ID:</strong> {{ laptop.id }}</br>
          <strong>CPU:</strong> {{ laptop.laptop_cpu }}</br>
          <strong>GPU:</strong> {{ laptop.laptop_gpu }}</br>
          <strong>DISPLAY INCH:</strong> {{laptop.laptop_display_inch }}</br>
          <strong>PRICE:</strong>{{laptop.laptop_price}}
        </li>
        {% endfor %}
    </ul>
</body>
</html>