<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Type info</title>
</head>
<body>
  <h1>Type down the infos</h1>
  <form action="/upload" method="post">
     <label for="text">Enter Laptop cpu : </label>
     <input type="text" name="form_laptop_cpu" />
     <br>
     <label for="text">Enter Laptop gpu : </label>
     <input type="text" name="form_pistol_gpu" />
     <br>
     <label for="floatinput">Enter Laptop Display inch : </label>
     <input type="number" name="form_laptop_display_inch" />      
     <button type="submit">Submit</button>
  </form>

</body>
</html>